extends layout

block content
  h1 My Lot
  p.lead Loadding 40%
  hr
  .row
    .col-sm-3.panel.panel-primary
      h3 Home
      p Giá trị Jackbot  Mega 6/45 ước tính
      h4 13,232,222,111
      p Kết quả gần nhất
      h3 13 33 22 44 55 66
      p Lần quay số tiếp theo còn 
      h6 thứ 4 ngày 02/10/2016
      h3 2d 13h 02p 
      .form-group
          .col-sm-offset-3.col-sm-7
            p #{message}
            hr
      .col-sm-12
        button.col-sm-6.btn.btn-primary(type='submit')
          i.glyphicon.glyphicon-eye-open
          | Gợi ý
        a.btn.col-sm-6.btn.btn-primary(href='/signup')
          i.glyphicon.glyphicon-shopping-cart
          | Đặt vé
    
    .col-sm-3.panel.panel-primary
      h3 Login
      form.form-horizontal(method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
          label.col-sm-3.control-label(for='email') Email
          .col-sm-7
            input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus, required)
        .form-group
          label.col-sm-3.control-label(for='password') Password
          .col-sm-7
            input.form-control(type='password', name='password', id='password', placeholder='Password', required)
        .form-group
          label.col-sm-3.control-label(for='phone') Confirm password
          .col-sm-7
            input.form-control(type='phone', name='phone', id='phone', placeholder='Phone Number', required)
        .form-group
          .col-sm-12
            label.radio.col-sm-6
              input(type='radio', name='gender', value='male', data-toggle='radio', checked='true')
              span Đã có tài khoản
            label.radio.col-sm-6
              input(type='radio', name='gender', value='female', data-toggle='radio')
              span Tạo tài khoản
          .col-sm-12
            button.col-sm-6.btn.btn-primary(type='submit')
              i.fa.fa-user
              | Đăng Nhập
            a.btn.col-sm-6.btn.btn-primary(href='/signup')
              i.fa.fa-user
              | Đăng ký
        .form-group
          a.btn.btn-link(href='/forgot') Forgot your password?
        .form-group
          .col-sm-offset-3.col-sm-7
            p #{message}
            hr
        .form-group
          .col-sm-12
            a.btn.btn-block.btn-facebook.btn-social(href='/auth/facebook')
              i.fa.fa-facebook
              | Sign in with Facebook
            a.btn.btn-block.btn-google.btn-social(href='/auth/google')
              i.fa.fa-google-plus
              | Sign in with Google
    
    .col-sm-3.panel.panel-primary
      h3 Gợi ý
      p Gợi ý gần đây
      table.table
        thead
          tr
            th.text-center Số 1
            th.text-center Số 2
            th.text-center Số 3
            th.text-center Số 4
            th.text-center Số 5
            th.text-center Số 6
            th
        tbody
          tr
            td.text-center 1
            td.text-center.bg-success 22
            td.text-center 45
            td.text-center 33
            td.text-center.bg-success 0
            td.text-center 11
            td
              a(href='#')
                span.badge v
          tr
            td.text-center 1
            td.text-center.bg-success 22
            td.text-center 45
            td.text-center.bg-success 33
            td.text-center.bg-success 0
            td.text-center 22
            td
              a(href='#')
                span.badge 3
          tr
            td.text-center 1
            td.text-center.bg-success 22
            td.text-center.bg-success 45
            td.text-center.bg-success 33
            td.text-center 0
            td.text-center.bg-success 21
            td
              a(href='#')
                span.badge 3
      hr
      form.form-horizontal(method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
          label.col-sm-3.control-label(for='conditoin') Gợi ý theo
          .col-sm-7
            select.form-control(id='condition' name='condition')
              option Emtion
              option Hight rate
              option Low rate
              option Most popular
              option Least popular
        .form-group
          .col-sm-12
            button.btn-block.col-sm-6.btn.btn-primary(type='submit')
              i.glyphicon.glyphicon-eye-open
              | Thêm Gợi ý
    .col-sm-3.panel.panel-primary
      h3 Tỷ lệ thống kê
      h5 Cao Nhất
      .col-sm-12
        p.col-sm-2 1
        .progress.col-sm-10
          .progress-bar(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;')
              | 3/12
      .col-sm-12
        p.col-sm-2 2
        .progress.col-sm-10
          .progress-bar(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;')
              | 3/12
      .col-sm-12
        p.col-sm-2 3
        .progress.col-sm-10
          .progress-bar(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;')
              | 3/12
      .col-sm-12
        p.col-sm-2 44
        .progress.col-sm-10
          .progress-bar(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;')
              | 3/12
      .col-sm-12
        p.col-sm-2 22
        .progress.col-sm-10
          .progress-bar(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;')
              | 3/12
      .col-sm-12
        p.col-sm-2 22
        .progress.col-sm-10
          .progress-bar(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;')
              | 3/12
      h5 Thấp Nhất
      .col-sm-12
        p.col-sm-2 1
        .progress.col-sm-10
          .progress-bar(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;')
              | 3/12
      .col-sm-12
        p.col-sm-2 2
        .progress.col-sm-10
          .progress-bar(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;')
              | 3/12
      .col-sm-12
        p.col-sm-2 3
        .progress.col-sm-10
          .progress-bar(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;')
              | 3/12
      .col-sm-12
        p.col-sm-2 44
        .progress.col-sm-10
          .progress-bar(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;')
              | 3/12
      .col-sm-12
        p.col-sm-2 22
        .progress.col-sm-10
          .progress-bar(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;')
              | 3/12
      .col-sm-12
        p.col-sm-2 22
        .progress.col-sm-10
          .progress-bar(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;')
              | 3/12
    .col-sm-3.panel.panel-primary
      h3 Số của tôi
      p Số ý gần đây
      table.table
        thead
          tr
            th.text-center Số 1
            th.text-center Số 2
            th.text-center Số 3
            th.text-center Số 4
            th.text-center Số 5
            th.text-center Số 6
            th.text-center Giải
        tbody
          tr
            td.text-center 1
            td.text-center.bg-success 22
            td.text-center 45
            td.text-center 33
            td.text-center.bg-success 0
            td.text-center 11
            td
              a(href='#')
                span.badge 3
          tr
            td.text-center 1
            td.text-center.bg-success 22
            td.text-center 45
            td.text-center.bg-success 33
            td.text-center.bg-success 0
            td.text-center 22
            td
              a(href='#')
                span.badge 2
          tr
            td.text-center 1
            td.text-center.bg-success 22
            td.text-center.bg-success 45
            td.text-center.bg-success 33
            td.text-center 0
            td.text-center.bg-success 21
            td
              a(href='#')
                span.badge 1
    .col-sm-3.panel.panel-primary
      h3 Đặt vé
      p Gợi ý gần đây
      table.table
        thead
          tr
            th.text-center Số 1
            th.text-center Số 2
            th.text-center Số 3
            th.text-center Số 4
            th.text-center Số 5
            th.text-center Số 6
            th
        tbody
          tr
            td.text-center 1
            td.text-center.bg-success 22
            td.text-center 45
            td.text-center 33
            td.text-center.bg-success 0
            td.text-center 11
            td
              a(href='#')
                span.badge x
          tr
            td.text-center 1
            td.text-center.bg-success 22
            td.text-center 45
            td.text-center.bg-success 33
            td.text-center.bg-success 0
            td.text-center 22
            td
              a(href='#')
                span.badge v
          tr
            td.text-center 1
            td.text-center.bg-success 22
            td.text-center.bg-success 45
            td.text-center.bg-success 33
            td.text-center 0
            td.text-center.bg-success 21
            td
              a(href='#')
                span.badge v
      hr
      .col-sm-12
        select.col-sm-2
          option 1
          option 2
          option .
          option .
          option 45
        select.col-sm-2
          option 1
          option 2
          option .
          option .
          option 45
        select.col-sm-2
          option 1
          option 2
          option .
          option .
          option 45
        select.col-sm-2
          option 1
          option 2
          option .
          option .
          option 45
        select.col-sm-2
          option 1
          option 2
          option .
          option .
          option 45
        select.col-sm-2
          option 1
          option 2
          option .
          option .
          option 45
        hr
        form.form-horizontal(method='POST')
          input(type='hidden', name='_csrf', value=_csrf)
          .col-sm-12
            button.col-sm-6.btn.btn-primary(type='submit')
              i.glyphicon.glyphicon-eye-open
              | Gợi ý
            a.btn.col-sm-6.btn.btn-primary(href='/signup')
              i.glyphicon.glyphicon-shopping-cart
              | Thanh toán
    .col-sm-3.panel.panel-primary
      h3 Thông tin cá nhân
      form.form-horizontal(action='/account/profile', method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
          label.col-sm-3.control-label(for='email') Email
          .col-sm-7
            input.form-control(type='email', name='email', id='email')
        .form-group
          label.col-sm-3.control-label(for='name') Name
          .col-sm-7
            input.form-control(type='text', name='name', id='name')
        .form-group
          label.col-sm-3.control-label Gender
          .col-sm-6
            label.radio.col-sm-3
              input(type='radio', name='gender', value='male', data-toggle='radio')
              span Male
            label.radio.col-sm-3
              input(type='radio', name='gender', value='female', data-toggle='radio')
              span Female
            label.radio.col-sm-3
              input(type='radio', name='gender', value='other', data-toggle='radio')
              span Other
        .form-group
          label.col-sm-3.control-label(for='location') Location
          .col-sm-7
            input.form-control(type='text', name='location', id='location')
        .form-group
          label.col-sm-3.control-label(for='website') Website
          .col-sm-7
            input.form-control(type='text', name='website', id='website')
        .form-group
          label.col-sm-3.control-label Gravatar
          .col-sm-4
            img(class='profile', width='100', height='100')
        .form-group
          .col-sm-offset-3.col-sm-4
            button.btn.btn.btn-primary(type='submit')
              i.fa.fa-pencil
              | Update Profile
    .col-sm-3.panel.panel-primary
      .page-header
        h3 Change Password
      form.form-horizontal(action='/account/password', method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
          label.col-sm-3.control-label(for='password') New Password
          .col-sm-7
            input.form-control(type='password', name='password', id='password')
        .form-group
          label.col-sm-3.control-label(for='confirmPassword') Confirm Password
          .col-sm-7
            input.form-control(type='password', name='confirmPassword', id='confirmPassword')
        .form-group
          .col-sm-offset-3.col-sm-4
            button.btn.btn-primary(type='submit')
              i.fa.fa-lock
              | Change Password
      .page-header
        h3 Linked Accounts
      .form-horizontal
        .col-sm-offset-3.col-sm-10
          if 'true'
            p: a.text-danger(href='/account/unlink/google') Unlink Google account
          else
            p: a(href='/auth/google') Link Google account
        .col-sm-offset-3.col-sm-10
          if true
            p: a.text-danger(href='/account/unlink/facebook') Unlink Facebook account
          else
            p: a(href='/auth/facebook') Link Facebook account
    .col-sm-3.panel.panel-primary
      h3 Quên mật khẩu
      .col-sm-8.col-sm-offset-2
        form(method='POST')
          legend Forgot Password
          input(type='hidden', name='_csrf', value=_csrf)
          .form-group
            p Enter your email address below and we will send you password reset instructions.
            label.control-label(for='email') Email
            input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus, required)
          .form-group
            button.btn.btn-primary(type='submit')
              i.fa.fa-key
              | Reset Password
    .col-sm-3.panel.panel-primary
      h3 Nhập mật khẩu mới
      .col-sm-8.col-sm-offset-2
        form(method='POST')
          input(type='hidden', name='_csrf', value=_csrf)
          .form-group
            label(for='password') New Password
            input.form-control(type='password', name='password', id='password', placeholder='New password', autofocus, required)
          .form-group
            label(for='confirm') Confirm Password
            input.form-control(type='password', name='confirm', id='confirm', placeholder='Confirm password', required)
          .form-group
            button.btn.btn-primary.btn-reset(type='submit')
              i.fa.fa-keyboard-o
              | Change Password